html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("background.png") repeat center;
}

footer{
    background: lightskyblue;
}

header{
    background: lightskyblue;
}
.description {
    margin: 45px auto 0 auto;
    background: aliceblue;
    width: 500px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template: "btn1 btn2";
}
.description h2{
    font-family: Calibri, sans-serif;
    text-align: center;
}
.description p{
    margin: 20px 15px 15px 15px;
    font-size: 22px;
    font-family: Calibri, sans-serif;
}
.buttons{
    margin: 40px auto 0 auto;
    width: 500px;
    align-items: center;
}
.buttons a, .btn-create-order{
    margin: auto;
    width: 180px;
    text-decoration: none;
    border: 2px solid black;
    background: #343a40;
    padding: 20px;
    border-radius: 7px;
    color: white;
    font-size: 22px;
    transition: 0.4s;
    text-align: center;
}
.buttons a:hover{
    background: black;
}

.logo-name{
    display: inline-block;
    font-size: 54px;
    padding: 30px;
    margin: auto;
}

.pink{
    color: pink;
}

.AutologinForm, .registration-form{
    margin: 120px auto;
    border-radius: 30px;
    border: 2px solid black;
    overflow: hidden;
    width: 500px;
    background: #b2b2b2;

}

.AutologinForm{
    height: 430px;
}

.form{
    display: block;
    margin: auto;
}

.form:first-child{
    margin-top: 30px;
}

.input{
    background: lightpink;
    padding: 15px;
    width: 300px;
    border: 1px solid hotpink;
    border-radius: 10px;
    margin: 20px auto;
}

form input{
    background: lightpink;
    padding: 15px;
    width: 300px;
    border: 1px solid hotpink;
    border-radius: 10px;
    margin: 0 auto;
}

.button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.registration{
    display: inline-block;
    text-decoration: none;
    margin: 70px 0 0 195px;
    color: dodgerblue;
}

.content {
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
    height: 110px;
}

.contacts{
    position: relative;
    text-align: center;
    padding: 30px 30px ;
    color: aliceblue;
    font-size: large;
}

.contacts:last-child{
    margin-bottom: 0;
}

.space {
    flex-grow: 1;
}

.orders h1 {
    text-align: center;
}

.orders table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.orders th {
    font-size: 18px;
    padding: 10px;
}
.orders td {
    background: #F5D7BF;
    padding: 10px;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 230px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 43%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #00042a;
    box-shadow: 0 15px 20px rgba(0, 2, 196, 0.4);
    color: white;
    transform: translateY(-7px);
}

.btn-create-order{
    display: block;
    margin-left: 45%;

}
.btn-create-order:hover{
    background: black;
}
.but_delete {
    border-radius: 12px;
    background: #ECE9E0;
}

.but_delete:hover {
    background: #F5D7BF;
    box-shadow: 0 15px 20px rgba(227, 202, 137, 0.4);
}
